body, html{
    margin: 0px;
    padding: 0;
}
.nav{
    display:flex;

    width: 100%;
    height: 100%;

    
    position: fixed;
}
.home{
    display: flex;
    height: 100%;
}
.box1{
    width: 280px;
    height: calc(100% - 60px);
    background-color: rgb(202, 192, 233);
    /* opacity: 0.65; */
    margin: 10px;
    border-radius: 10px;
    }
.image{
    display: flex;
    
    width: 100%;
    height: 300px;
}
.img{
    width: 250px;
    height: 250px;

    background-image: url(./img/PE1rNM3.jpg);
    background-size: cover ;
    background-repeat:no-repeat ;
    background-position:center ;

    margin:auto;
    border-radius: 50%;
}
.link ul{
    text-align: center;
    list-style: none;
    padding: 0;
}
.link ul li{
    margin: 15px;
    color: rgb(135, 72, 177);
}
.con{
    margin-left: 50px;
}
.con h1{
    color: rgb(135, 72, 177);
    text-align: left;
}
.con p{
    color: rgb(144, 117, 198);
}
.box2{
    width: 100%;
    /* height: 100%;  */

    background-color: rgb(224, 224, 243);
    box-sizing: border-box;
}
.all{
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    box-sizing: border-box;
}
.nav2{
    display: flex;

    width: 100%;

    font-size: 18px;
    background-color: rgb(144, 117, 198);

    font-style: Thin 100;
}
.box{
    /* width: 100px; */
    text-align: center;

    color: rgb(224, 224, 243);
    background-color: rgb(144, 117, 198);

    padding: 15px;
}
.box:hover{
    background-color: rgb(129, 145, 225);
    color: rgb(224, 224, 243);
}
.color{
    background-color: rgb(224, 224, 243);
    color: rgb(135, 72, 177);
    border: 1px solid rgb(224, 224, 243);
}
.content{
    width: 100%;
    height: 100%;
}
.text{
    display: none;
    width: 100%;
    height: 100%;
    
    color: white;
    
    font-size: 20px;
    text-align: center;
}
.active{
    display: block;
}